body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

nav {
  max-width: 1000px;
  width: 90%;
  margin: 1em auto;
  display: block;

  .left {
  float: left;

    img {
      max-height: 100px;
      height: 100%;
      width: auto;
      max-width: 100px;
    }
  }

  .right {
  float: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        display: inline-block;

        &.active {
          border-bottom: 1px solid $color-website-accent_1;
        }

        a {
          display: block;
          text-align: center;
          padding: 2em;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid $color-website-accent_1;

          }
        }
      }
    }
  }
}


footer {
  color: initial;
  background-color: $color-website-form;
  padding: 1em;
  clear: both;

  .footer_header {
    font-family: Bitter;
    color: $color-website-accent_1;
    font-size: 1.7em;
    text-align: center;
    margin-bottom: 2em;
  }

  .footer_list {
    ul {
      list-style: none;

      li {

        .name {
          color: $color-website-accent_1;

          &::after {
            content: ' - ';
            color: $color-search-title;
          }
        }
      }
    }
  }
}
.header_title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3em;

  h1 {
    font-family: Bitter;
    font-size: 2.5em;
    padding: .4em;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 0;
  }
}
.header_form {
  background: $color-website-form;
  padding: 2em 0;
}

.contents{
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
  flex: 1;

}


.container {
  max-width: 800px;
  margin: 0 auto;
}

ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  li:nth-child(n+6) {
    display: none;
  }
}

.search-form {

  .row {
    margin: 1em 0;
    height: 2em;

    .col-sm-2 {
      text-align: right;
    }

    .radio-block {
      display: flex;
      align-content: flex-start;
      flex-direction: column;
      position: relative;
      bottom: 3.5em;

      &--item {
        display: flex;
        width: 100%;
        text-align: left;
        margin: 0.5em 0;
      }

      label, input[type="radio"] {
        margin: 0;
      }
    }
  }

  input {
    height: 2em;
    width: 100%;

    &[type=date] {
      height: 2em;
    }
    &[type=radio] {
      width: 25%;
    }

    &[type=submit] {
      background: #3FC380;
      border: 0;
      border-radius: 1em;
      font-size: larger;
      color: white;

      &:disabled {
        opacity: .7;
      }
      
      &:hover {
        color: $color-submit-white-hover;
        background-color: $color-submit-green-hover;
      }
    }
  }
}

.search-results {
  padding-top: 3em;

  .search-result {
    border: 1px solid lightgray;
    padding: 1em;
    margin: .5em 0;

    .canceled {
      color: $color-vertraging;
      text-decoration: none;

      &::after {
        @extend .col-xs-9;
        @extend .col-xs-offset-2;

        content: '(canceled)';
        text-decoration: none;
        color: $color-vertraging;
        font-size: .7em;
        padding-left: 2.5em;
      }

      div {
        text-decoration: line-through;
      }
    }

    .vertraging {
      color: $color-vertraging;
      &::before {
        content: '( +';
      }
      &::after {
        content: '\' )';
      }
    }

    .title {
      margin: 0 1em;
      a {
        margin-bottom: 2em;
        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
      &-primary {
        color: $color-search-title;
      }
      &-secundary {
        color: $color-search-title-secundary;
      }
    }

    &-info {
      margin-top: 1em;
      color: $color-search-info;

      .extra-info {
        color: $color-search-info-extra;
        font-size: .7em;
        padding-left: 1em;
      }
      .via-icon .glyphicon {
        padding-left: .7em;
      }
    }

    &-link button[type="submit"] {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      width: 100%;
      text-align: left;
    }

  }
}

@media (max-width: $screen-sm-max) {

  .navbar {
    .left, .right {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
    }

    .left img {
      max-height: 250px;
      max-width: 250px;
      height: 100%;
      width: auto;
    }
  }
  
  body {
    font-size: 2em;
    min-width: 480px;
  }

  .search-form {
    margin-bottom: 50px;

    .row {
      margin: 1em 0;
      height: auto;

      .radio-block {
        position: static;
        margin-top: 2em;
      }

      &>.col-sm-2 {
        text-align: left;
      }
    }



    input {
      height: 2em;
      width: 100%;

      &[type=radio] {
        width: 5%;
      }

      &[type=date] {
        height: 2em;
      }

      &[type=submit] {
        width: 100%;

        &:disabled {
          opacity: .7;
        }
      }
    }
  }

  .search-results {

    .search-result {

      .canceled {

        &::after {
          padding-left: 2em;

        }
      }
    }
  }

}

@media (max-width: 590px) {

  nav {
    .right {
      margin-top: 1em;

      ul {
        li {
          display: block;

          &.active {
            border: 0;
            background: $color-website-accent_1;
            a {
            color: white;
            }
          }
          a {
            padding: 1em;
          }
        }
      }
    }
  }
}